.mainCont {

    background: linear-gradient(white 20%, rgb(8, 57, 1) 40%, silver);
    text-align: center;
    color: $colorPrincipal;
    font-size: 25px;

}

.flex {


    list-style: none;
    padding: 1rem;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    align-content: flex-start;

    row-gap: 10px;
    padding-left: 15px;
    margin-left: 10px;

}




.flex__hijo {
    width: auto;
    height: 50px;
    border: 1px solid $colorPrincipal;

}

.flex__hijo2 {
    width: auto;
    height: 50px;
}

.flexCap {
    border: 1px solid orange;
    width: 50%;
    padding: 1rem;

}




