
.footer{
    text-align: justify;
    font-family:Impact, sans-serif;
    background-color: rgb(87, 87, 87);
    border-top:solid 10px grey;
    border-right:solid 10px darkgrey;
    border-bottom:solid 10px gray;
    border-left:solid 10px darkgrey;
    text-align: center;
       
}
