.navheader{
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    position: fixed;
    background: rgb(255,255,255);
}

.active{
    background-color: yellow;
    font-weight: bolder;
    border-radius: 1rem;
}