
.mainIndex{
    background-color: grey;
    background: linear-gradient(white 20%, grey 40%, silver);
    text-align: center;
}

.inicio{
    display: flex;
    flex-direction: row;


}

.inicio1{
    background-image: url(../imagenes/gym.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



.seccion{
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;

}

.aviso {
    background-color: red;
    color: white;
    width: 120px;
    padding: 0.5rem 1rem;
    text-align: center;
    border: outset;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}