
.mainIndex{
    background-color: grey;
    background: linear-gradient(white 20%, grey 40%, silver);
    text-align: center;
}

.inicio{
    display: flex;
    flex-direction: row;
}

.inicio1{
    background-image: url(../imagenes/gym.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.seccion{
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}

.aviso {
    position: fixed;
    right: 5rem;
    bottom: 2rem;
    border: outset;
}

.video--tam{
    width: 80%;
}